.cartList {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
    align-content: stretch;
    text-align: center;
	padding-top: 1rem;
    margin-top: 4rem;
    margin-left: 1rem;
}

.order_page_pro {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
    align-content: stretch;
    text-align: center;

    background-image: url('http://www.inn.spb.ru/images/300/DSC100305654.jpg');
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.subtotal {
    margin-left: 20ch;
    margin-top: 3ch
}

#itemImage {
    margin-left: 3rem;
}

.nameItem {
    /* text-align: center */
}

#proceedButton {
    padding: 1.5ch;
    font-size: 3ch;
}