p{
    font-weight: 400;
    height: 6ch;
    text-align: right;  
    font-size: 20px;
    padding-right: 2rem;
    padding-top: 1rem;
}

.shop_page{
    background-image: url('http://www.freeoboi.ru/images/590785319.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

#topPlace{
    text-align: center;
    opacity: 0.8;
    margin-top: 60px;
    text-shadow: -1px 0 rgb(250, 249, 249), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 254, 254), 0 -1px rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}

#countdown{
    text-align: center;
    text-shadow: -1px 0 rgb(250, 249, 249), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 254, 254), 0 -1px rgb(253, 253, 253);
}