.contacts{
    display: flex;
    background-image: url('https://www.central-soelden.com/imagetypes/headerImage/soel_giggijochbahn_winter_03_17_oetztal_tourismus_by_rudi_wyhlidal.jpg');

    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts_detail h1{
    font-size: 15px;
    margin: 10px, 30px;
}

ul {
    margin-bottom: 40px;
}

li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px
}
.map{
    margin-top: 4rem;
    margin-left: 2rem;
}
@media (max-width: 767px){
    .contacts{
        flex-direction: column;
        align-items: flex-start;
    }

    .map{
        margin: 15rem;
    }
}
