.contacts{
    display: flex;
    background-image: url('https://www.central-soelden.com/imagetypes/headerImage/soel_giggijochbahn_winter_03_17_oetztal_tourismus_by_rudi_wyhlidal.jpg');

    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contacts_detail h1{
    font-size: 15px;
    margin: 10px, 30px;
}

ul {
    margin-bottom: 40px;
}

li {
    font-size: 20px;
    list-style-type: none;
    margin: 10px 15px
}

@media (max-width: 767px){
    .contacts{
        flex-direction: column;
        align-items: flex-start;
    }
}