.adminPage {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    align-content: stretch;
    text-align: center;
	margin-top: 100px;
	
}

#controlCard {
	height: 250px;
}

@media (max-width:768px) {
	.adminPage{
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;     
}
	.adminPage{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}
	#deleteCard {
		margin-top: 240px;
	}
	#controlCard{
		margin-top: 40px;
	}
}