.smallHeader{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	align-content: stretch;
}

.toolbar__logo img{
    height: 24px;
    width: 230px;
    position: absolute;
    margin-right: 10px; 
    
}

#logo{
    background-image: url('/logotext.png');
    width: 400px;
    height: 40px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width:768px) {
    .toolbar__navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar__toggle-button{
        display: none;
    }
    .toolbar__logo {
        display: none;
        position: absolute;

    }
}